@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border: 0px;
	box-shadow: 0px;
	padding: 0px;
	margin: 0px;
}
